- name: ensure IPv4 rp filter is deactivated
  sysctl: name=net.ipv4.conf.all.rp_filter value=0 state=present reload=yes

- name: ensure IPv4 default rp filter is deactivated
  sysctl: name=net.ipv4.conf.default.rp_filter value=0 state=present reload=yes

# When those bits are enabled:
#
# sysctl: cannot stat /proc/sys/net/bridge/bridge-nf-call-iptables: No such file or directory
#
# So the're commented out
#
# - name: ensure nf call for IPv4 is activated
#   sysctl: name=net.bridge.bridge-nf-call-iptables value=1 state=present reload=yes

# - name: ensure nf call for IPv6 is activated
#   sysctl: name=net.bridge.bridge-nf-call-ip6tables value=1 state=present reload=yes

- name: ensure plugins, agents and openvswitch packages are installed
  apt: name={{ item }} default_release=jessie-backports
  with_items:
    - neutron-common
    - neutron-openvswitch-agent
  
- name: obtain service tenant id
  shell: >-
    keystone --os-endpoint http://{{ controller_ip }}:35357/v2.0 --os-token \
    {{ admin_token }} tenant-get service|grep id|awk '{print $4}' 
  register: nova_admin_tenant_id
          
- name: ensure neutron.conf is configured
  template: >
    src=../../neutronserver/templates/etc/neutron/neutron.conf
    dest=/etc/neutron/neutron.conf
    owner=neutron group=neutron mode=0660
  notify:
    - restart neutron agents

- name: ensure ml2 plugin is configured
  template: >
    src=etc/neutron/plugins/ml2/ml2_conf.ini
    dest=/etc/neutron/plugins/ml2/ml2_conf.ini
    owner=root group=root mode=0644
  notify:
    - restart neutron agents

- name: ensure br-int switch is created
  openvswitch_bridge: bridge=br-int state=present
  notify: restart neutron agents
  
